<h3 data-e2e="demo-header">Ajax Sourced Data</h3>
<p>
  Datatables equivalent <a href="https://datatables.net/examples/data_sources/ajax.html">here</a>.
</p>

<div class="row" [formGroup]="form">
  <div class="col-md-3">
    <div class="form-group">
      <label for="started-after-date">Started after:</label>
      <input id="started-after-date" class="form-control" type="date" formControlName="startDate" name="started-after-date"
             data-e2e="started-after-datepicker">
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="filter-input">Search:</label>
      <input type="text" class="form-control" id="filter-input" formControlName="filter">
    </div>
  </div>
</div>

<ag-grid-angular
  id="#example"
  style="width: 100%; height: 550px"
  class="ag-theme-alpine"
  [rowData]="rowData$ | async"
  [gridOptions]="gridOptions">
</ag-grid-angular>
