<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/" data-e2e="navbar-brand">Angular with jQuery Datatables Demo</a>
  </nav>
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-auto mr-auto">
        <a href="https://github.com/drumonii/angular-jquery-datatables-demo" data-e2e="github-link">GitHub</a>
      </div>
      <div class="col-auto">
        <span data-e2e="angular-version">
          Angular v{{angularVersion.major}}.{{angularVersion.minor}}
        </span>
      </div>
    </div>
  </div>
</footer>
