<h3 data-e2e="demo-header">Server-side Processing</h3>
<p>
  Datatables equivalent <a href="https://datatables.net/examples/server_side/simple.html">here</a>.
</p>

<div class="row" [formGroup]="form">
  <div class="col">
    <div class="form-group">
      <label for="filter-input">Search:</label>
      <input type="text" class="form-control" id="filter-input" formControlName="filter">
    </div>
  </div>
</div>

<ag-grid-angular
  id="#example"
  style="width: 100%; height: 550px"
  class="ag-theme-alpine"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
